<!-------- Container Start -------->
<div class="container mt15 mt-md100 mb15 mb-md30">
    <div class="row"> 
      <!----- Content Area Start----->
      <div class="col-12 col-md-8 col-lg-6 col-xl-5 smart-form mx-auto d-block text-center">
        <h4>Set your password</h4>
        <p class="f-14 d-gblue-clr mt10 mb15 mb-md40">please enter your new password to login<br class="hiddenxs">
  your account</p>
       <div class="form-group relative mb-md20">
                  <input class="form-control f-14 pr60" id="password-field" placeholder="Password" value="" type="password">
                  <div class="form-control-icon-right">
                    <button class="btn addon-icon f-15 toggle-password" toggle="#password-field" type="button"><i class="toogle-icon icon-show f-18" aria-hidden="true"></i> </button>
                  </div>
            </div>
           <!---- Password Combination Div----->
          <div class="form-group password-cases mb-md50">		  
           <ul class="f-14 password-cases feature-listing d-gblue-clr w400 text-left">
                <li class="d-flex mb10">
                  <div class="flex-wrap mr15"><i class="icon-dot gblue-clr f-14"></i></div>
                  <div class="flex-wrap">At least 8 to 20 character long</div>
                </li>
                <li class="d-flex">
                  <div class="flex-wrap mr15"><i class="icon-dot-tick f-14 s-green-clr white-check-arrow"></i></div>
                  <div class="flex-wrap">One lowercase character</div>
                </li>
                <li class="d-flex">
                  <div class="flex-wrap mr15"><i class="icon-dot f-14 gblue-clr"></i></div>
                  <div class="flex-wrap">One uppercase character</div>
                </li>
                <li class="d-flex">
                  <div class="flex-wrap mr15"><i class="icon-dot f-14 gblue-clr"></i></div>
                  <div class="flex-wrap">One number</div>
                </li>
                <li class="d-flex">
                  <div class="flex-wrap mr15"><i class="icon-dot f-14 gblue-clr"></i></div>
                  <div class="flex-wrap">One symbol</div>
                </li>
              </ul>
          </div>
            <!---- Password Combination Div End-----> 
        <div class="form-group mb0">
          <button type="submit" class="base-btn blue-btn btn-h50 btn-block f-16 f-md-18" title="Save">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-------- Container End ----------> 